<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error! <%= err %></title>
</head>
<body>
    <h1 style="text-align: center;">Fatal Error!</h1>
    <p style="text-align: center;">Error! <%= err %></p>
    <p style="text-align: center;"><a href="/">Back to home</a></p>
</body>
</html>